/*a.navbar-brand{
	position: relative; 
	right: 10%; 
	top: 3%; 
	padding-top:10px;
}

button.navbar-toggler{
	position: fixed; 
	left: 80%; 
	top: 3%;
}*/
body{
	color: black;
	height: 100%;
}
a.navbar-brand{
	padding-top: 10px;
	margin: 0;
}

div.head{
	height: 415px;
	margin-top: 2%;
	margin-bottom: 2%;
}

div.welcome{
	margin: auto; 
	height: 80%; 
	display: table; 
	text-align: center; 
	vertical-align: middle;
}

div.welcome-content{
	display: table-cell; 
	vertical-align: middle;
}

div.image{
	text-align: center;
}

h1#projects{
	padding-top: 5%;
}

div.project-brief{
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 14pt;
}
a {
	color: black;
}
footer{
	height: 100%;
}

div.project-detail{
    margin-top: 2%;
    margin-bottom: 2%;
}
ol li{
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 14pt;
}